@*@model alodc.Models.FOOD

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FOOD</h4>
    <hr />
    <hr style="margin-left:200px" />
    <dl class="dl-horizontal" style="margin-left:50px">

        <dt>
            <label class="control-label col-md-2" for="FOOD_CODE" style="margin-left:-20px">Mã món ăn</label>
        </dt>

        <dd style="margin-left:20px">
            @Html.DisplayFor(model => model.FOOD_CODE)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="FOOD_NAME" style="margin-left:-20px">Tên món ăn</label>
        </dt>

        <dd style="margin-left:20px">
            @Html.DisplayFor(model => model.FOOD_NAME)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="DESCRIPTION" style="margin-left:-20px">Miêu tả</label>
        </dt>

        <dd style="margin-left:20px">
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="PRICE" style="margin-left:-20px">Giá</label>
        </dt>

        <dd style="margin-left:20px">
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="IMAGE_URL" style="margin-left:-20px">Ảnh minh hoạ</label>
        </dt>

        <dd style="margin-left:20px">
            <img src="@Model.IMAGE_URL" width="100px" />
        </dd>

        <dt>
            <label class="control-label col-md-2" for="STATUS" style="margin-left:-20px">Trạng thái</label>
        </dt>

        <dd style="margin-left:20px">
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="CATEGORY_CODE" style="margin-left:-20px">Mã loại</label>
        </dt>

        <dd style="margin-left:20px">
            @Html.DisplayFor(model => model.CATEGORY.CATEGORY_CODE)
        </dd>

    </dl>
</div>
<p>
    <div style="margin-left:20px">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
        
    
    
</p>
*@