@model IEnumerable<alodc.Models.ORDER_DETAIL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
    var subtotal = 0;
    var grandtotal = 0;
    var shippingcost = 0;
}

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                subtotal += item.FOOD.PRICE * item.QUANTITY;
                                grandtotal = subtotal + shippingcost;
                                <tr>

                                    <td class="thumbnail-img">
                                        <a href="#">
                                            <img class="img-fluid" src="@item.FOOD.IMAGE_URL" alt="">
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="@Url.Action("Details", "ProductUser", new {id = item.FOOD.ID})">
                                            @item.FOOD.FOOD_NAME
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>@item.FOOD.PRICE</p>
                                    </td>
                                    <td class="quantity-box"><input type="number" size="4" value="@item.QUANTITY" min="0" step="1" class="c-input-text qty text"></td>
                                    <td class="total-pr">
                                        <p>@((item.FOOD.PRICE * item.QUANTITY).ToString("N0")) VNĐ</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="@Url.Action("Delete","Cart")">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="update-box">
                    <input value="Update Cart" type="submit">
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>

                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold">@subtotal.ToString("N0") VNĐ</div>
                    </div>

                    <hr class="my-1">


                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold"> Free </div>
                    </div>

                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5">@grandtotal.ToString("N0") VNĐ</div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex p-2 shopping-box"><a href="@Url.Action("Create","Bill")" class="ml-auto btn hvr-hover">Checkout</a> </div>
            <div> </div>
            <div class="col-12 d-flex p-2 shopping-box"><a href="@Url.Action("Index2","ProductUser")" class="ml-auto btn hvr-hover">Continue Shopping</a> </div>
        </div>

    </div>
</div>