@model alodc.Models.CATEGORY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="color: red">Delete</h2>

<h3 style="color: red">Are you sure you want to delete this?</h3>
<div>
    <h4>CATEGORY</h4>
    <hr />
    <hr style="margin-left:200px" />
    <dl class="dl-horizontal" style="margin-left:50px">

        <dt>
            <label class="control-label col-md-2" for="CATEGORY_CODE" style="margin-left:-20px">Mã loại món ăn</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_CODE)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="CATEGORY_NAME" style="margin-left:-20px">Tên loại món ăn</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_NAME)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="IMAGE_URL" style="margin-left:-20px">Đường dẫn tới ảnh</label>
        </dt>

        <dd>
            <img src="@Model.IMAGE_URL" width="100px" />
        </dd>

        <dt>
            <label class="control-label col-md-2" for="STATUS" style="margin-left:-20px">Trạng thái</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
